$max-height: 675px;

.article-container {
    background: white;
    margin: 1%;
    display: flex;
    flex-direction: row-reverse;
    
    padding: 3px;
    max-height: $max-height;
    
    .article-body {
        grid-area: nav;
        resize: horizontal;
        min-width: 50%;
        overflow-y: scroll;

        scrollbar-width: 0;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
        
        .title {
            font-size: xx-large;
            margin: 1%;
            padding: 10px;
            line-height: 40px;
        }
    
        .author {
            font-size: larger;
            margin: 1%;
            padding-left: 10px;
        }

        .body {
            margin: 0 1%;
            font-size: large;
            line-height: 25px;
        }

        .article-img {
            //margin-left: auto;
            //margin-right: auto;
            display: flex;
            justify-content: center;
            padding-bottom: 25px;
    
            img {
                width: 50%;
                height: auto;
                border: 3px solid black;
                border-radius: 1em;
            }
        }
    }

    .buffer {
        width: 20px;
        padding: 0;
        // cursor: ew-resize;
        flex: 0 0 auto;

        &:before {
            content: '';
            display: block;
            width: 4px;
            height: 100%;
            background: gray;
            margin: 0 auto;
        }
    }
 
    .comment-field {
        grid-area: nav;
        resize: horizontal;
        overflow: auto;
        margin-left: auto;
        margin-right: auto;
        
        min-height: 15%;
        width: 100%;
        min-width: 200px;

        .header {
            font: xx-large;
            font-weight: bold;   
            display: flex;
            justify-content: center;       
        }

        .post {
            display: flex;
            align-items: center;
            flex-direction: column;

            textarea {
                border-radius: 1em;
                font-size: large;
                width: 75%;
                min-height: 35px;
                max-height: 500px;
                resize: vertical;
                padding: 0.5rem;
            }

            button {
                width: 50%;
                background-color: #4CAF50;
                border: none;
                border-radius: 1em;
                color: white;
                padding: 4px;
                margin: 4px 0;
                text-decoration: none;
                cursor: pointer;
            }
        }
        
        .comments {
            margin: 0 4px;

            ul {
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                
                li {    
                    margin: 4px 0;
                    padding: 0px;
                    border: 1px solid #d3d3d3;
                    border-radius: 1em;
                    box-shadow: 2px 2px 1px #d3d3d3;

                    .username {
                        padding: 0.5rem 0 0 0.5rem;
                    }

                    .comment {
                        padding: 0 0.5rem 0 0.5rem;
                        display: flex;
                        justify-content: center;
                        font-weight: bold;
                    }

                    .time {
                        padding: 0 0 0.5rem 0.5rem;
                        color: gray;
                        opacity: 0.5;
                    }
                }
            }
        }

        max-height: $max-height;
    }    
}

.back-button {
    display: flex;
    flex-direction: column;
    width: 17.5%;
    justify-content: left;

    button {
        margin: 1em;
        padding: 1em 0 1em 0;
        border: 3px solid black;
        border-radius: 10px;
        transform: scale(0.95);
        transition: transform 1.0s, background-color 1.0s ease-out;
        font-size: large;
        cursor: pointer;
    }
    
    button:hover {
        transform: scale(1.05);
        transition: transform 1.0s, background-color color 1.0s ease-out;
        background-color: aqua;
        color: white;
    }
}

