
<form action="/login" method="POST" class="login-container">
    <div class="input">
        <input type="text" 
            id="username"   
            name="username"
            placeholder="Username" 
            [(ngModel)]="username">
    </div>

    <div class="input">
        <input [type]="showPass ? 'text' : 'password'" 
            id="password" 
            name="password" 
            placeholder="Password" 
            [(ngModel)]="password"
        >
    </div>

    <div class="show-pass">
        <p>Show Password:</p> 
        <input type="checkbox" (click)="showPassword()">
    </div>

    <app-button-component 
        [buttonName]="logInBtnName" 
        routerLink="{{ logInData.redirect }}"
        (click)="authorize(username, password)">
    </app-button-component>
    <app-button-component [buttonName]="signUpBtnName" routerLink="/register"></app-button-component>

</form>
