<div class="news-container">

    <div class="user-name">
        <h1>Welcome, {{ currUser.first_name }}</h1>
    </div>

    <div class="filter">
        <input type="search" class="filter" [(ngModel)]="team" (ngModelChange)="ngOnInit()" placeholder="Search">
    </div>

    <ul *ngIf="news" class="news">
        <li *ngFor="let article of news.articles">
            <app-article-preview [article]="article"></app-article-preview>
        </li>
    </ul>

    <div class="page-toggle">
        <app-button-component [buttonName]="prevPageText" [disabled]="page == 1" (click)="prevPage(); ngOnInit()"></app-button-component>
        <span>{{page}}</span>
        <app-button-component [buttonName]="nextPageText" [disabled]="!news" (click)="nextPage(); ngOnInit()"></app-button-component>
    </div>

</div>

